name: Release

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push
        run: make release
