name: Test image
on:
  workflow_run:
    workflows: ["Build and push image"]
    types:
      - completed

jobs:
  test-image:
    runs-on: ubuntu-24.04

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Pull image
        run: docker pull splituu/gha-docker-pipeline-demo:latest

      - name: Run container
        run: |
          docker run -v ${{ github.workspace }}/junit:/tmp splituu/gha-docker-pipeline-demo:latest pytest tests/test_main.py --junitxml=/tmp/report.xml

      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: junit/report.xml
        if: ${{ always() }}
